* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b1cbbb;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f7786b;
}

button:hover {
  background-color: #f7cac9;
}

header {
  line-height: 0.8;
  z-index: 1;
}

footer {
  background-color: #034f84;
  color: #fff;
  padding: 10px;
}

h1 {
  margin: 0;
}

.container {
  position: relative;
}

.ta-center { /* text align center */
  text-align: center;
}

.inline { /* display inline */
  display: inline;
}

.block { /* display block */
  display: block;
}

.inline-block { /* display inline block */
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.p-relative { /* position relative */
  position: relative;
}

.p-absolute { /* position absolute */
  position: absolute;
}

.p-fixed { /* position fixed */
  position: fixed;
}

.p-sticky {
  position: sticky;
  top: 0px;
}

.mw { /* max width */
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.thumbnail {
  height: 100%;
  padding: 0;
  margin: 0 10px 10px 10px;

}

.card {
  background-color: #87bdd8;
  color: #034f84;
  font-size: .9em;
  display: inline-block;
  border: 1px #777 solid;
  width: 270px;
  margin: 10px;
}

.card-content {
  padding: 10px;
}

.card img {
  width: 100%;
  margin: 0;
}

.card-content h2 {
  margin: 0 auto 9px;
}

.card-content p {
  text-align: justify;
  margin-bottom: 12px;
}

.card button {
  width: 100%;
  border-radius: 0;
}

#main-navbar h2 {
  margin: 20px;
  color: #f7786b;
}

#profile-pic {
  right: 10px;
  top: 9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px #f7cac9 solid;
}

#navbar-ul {
  left: 180px;
}

#navbar-ul li a {
  display: inline-block;
  padding: 22px 10px;
  color: #f7cac9;
}

#navbar-ul li a:hover {
  background-color: #92a8d1;
  color: #f0f0f0;
  border-bottom: 3px #c94c4c solid;
}

#main-container {
  min-height: calc(100vh - 57px);
}

#main-navbar {
  background-color: #034f84;
}

#showcase {
  height: 500px;
  background: url("https://get.pxhere.com/photo/background-calm-clouds-daylight-dock-environment-grass-lake-landscape-looking-man-mountain-mountains-outdoors-person-reflections-rocks-scenery-scenic-serene-sitting-sky-tranquil-trees-view-water-wooden-woods-1563785.jpg") no-repeat center/cover;
}

#showcase p {
  margin-top: 50px;
}

#showcase-content {
  color: #fff;
  text-shadow: 5px 5px 3px #034f84, -5px 5px 3px #034f84;
  font-size: 1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#articles {
  margin: 50px auto;
}

article {
  font-size: 1.em;
  color: #f7cac9;
  background-color: #034f84;
  overflow: auto;
  padding: 30px;
  margin-top: 80px;
  box-shadow: 15px 15px 15px #888888,
              -15px -15px 15px #888888,
              15px -15px 15px #888888,
              -15px 15px 15px #888888;
}

article p {
  margin: 20px;
  text-align: justify;
}

article img {
  margin: auto 20px !important;
  width: 45%;
}

article button {
  margin: 20px;
}

.article-content {
  width: 50%;
}

#cards {
  background-color: #034f84;
  margin: 120px auto;
  padding: 50px 0;
  box-shadow: 15px 15px 15px #888888,
              -15px -15px 15px #888888,
              15px -15px 15px #888888,
              -15px 15px 15px #888888;
}

#cards #act-heading {
  margin-bottom: 50px;
  font-size: 2em;
  color: #fff;
  text-shadow: 3px 3px 2px #034f84;
}


